<div class="top-bar">
  <div class="wrapper no-pad">

    <ul class="navigation">
      <li><h1 title="Atom: A hackable text editor for the 21st Century"><a href="https://atomeditor.io/" class="logo-small"></a></h1></li>
      <li><a href="https://atomeditor.io/packages.html">Packages</a></li>
      <li><a href="https://atomeditor.io/themes.html">Themes</a></li>
      <li><a href="https://flight-manual.atomeditor.io/" class="is-selected">Documentation</a></li>
      <li><a href="https://blog.atomeditor.io/">Blog</a></li>
      <li><a href="https://discuss.atomeditor.io/">Discuss</a></li>
      <li><a href="https://github.com/atomeditor-io/atom/releases">Releases</a></li>
    </ul>

  </div>
</div>
